@model List<Student.Models.StudentsViewModel>
@{
	Layout = "~/Views/Shared/Layout.cshtml";
}
<h1>Welcome Student!</h1>
<p>Our student this system helps you to register to get  Dormitory Services<br />To Start Login!</p>
<p></p>

